<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.babage.b370">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".IntroScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreenTemp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainSmartphoneActivity" />
        <activity
            android:name=".QuestActivity"
            android:label="MISI" />
        <activity
            android:name=".LevelOne"
            android:label="The Quiz"
            android:screenOrientation="portrait" />
        <activity android:name=".LevelTwo"
            android:label="Indra F"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Informan"
            android:label="Informasi Client" />
        <activity
            android:name=".InformanDua"
            android:label="Informasi Client" />
        <activity
            android:name=".vdplay"
            android:label="Galeri Video" />
        <activity
            android:name=".VideoPlayer"
            android:label="Video Player" />
        <activity
            android:name=".VideoPlayerLevel1"
            android:label="Video Player" />
        <receiver android:name=".notification.NotificationPublisher" />
    </application>

</manifest>